.container {
  margin: 20px auto;
  width: 85%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
}

#map-canvas {
  height: 500px;
  width: 500px;
  margin: 0;
  padding: 0;
}