html, body {
  background-color: #d1e5e1;
}

#header {
  background-color: #0d355a;
  color: white;
  text-align: center;
}

#header h1 {
  font-size: 3em;
}

#header h2 {
  font-size: 1.5em;
}


.container {
  margin: 20px auto;
  width: 85%;
  padding: 0px 20px 20px 20px;
  text-align: center;
}


#map-canvas {
  border-style: outset;
  height: 450px;
  margin: auto;
  padding: 0;
  width: 450px;
}

.search-form {
  background-color: #d1e5e1;
  margin: 2% auto;
  width: 300px;
}

#add-marker {
  background-color: #0d355a;
  color: white;
}


#friend-list {
  list-style-type: none;
}

.friend-name {
  font-weight: bold;
}

.friend-location {
  font-style: italic;
}

#logged-in-nav {
  text-align: center;
  margin: auto;
}

.logout button{
  background-color: #0d355a;
  color: white;
  float: right;
  margin-right: 2%;
}

.register input{
  display: block;
}