.container {
  margin: 20px auto;
  width: 85%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
}

#map-canvas {
  height: 450px;
  width: 450px;
  margin: auto;
  padding: 0;
}

.search-form {
  background-color: #d1e5e1;
  border: 1px solid gray;
  margin: 10px auto;
  width: 300px;
}

#friend-list {
  list-style-type: none;
}