body a {
  text-decoration: none;
}

#header {
  background-color: #0d355a;
  color: white;
  text-align: center;
}

.site-title {
  font-size: 3em;
  line-height: 1em;
  padding: 10px;
  margin: 0;
}

.subtitle {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0;
}

#header a {
  color: white;
  text-decoration: none;
}

.main {
  background-color: #d1e5e1;
}

.container {
  margin: 20px auto;
  width: 85%;
  text-align: center;
}

#map-canvas {
  border-style: outset;
  height: 450px;
  max-width: 900px;
  margin-left: 50px;
}

.search-form {
  margin: 2% auto;
}

#add-marker {
  background-color: #0d355a;
  color: white;
}

.friend-list-wrapper {
  background-color: white;
  padding: 10px;
  margin: 0 20px 20px 50px;
}

.friend-list {
  list-style-type: none;
}

.friend-info {
  padding: 0;
}

.friend-name {
  font-weight: bold;
  display: block;
}

.friend-location {
  font-style: italic;
  display: block;
}

.delete-friend-wrapper {
  padding-top: 5px;
}

.row .delete-friend {
  background-color: maroon !important;
}

.row .delete-friend .delete {
  color: white !important;
}

#logged-in-nav {
  background-color: white;
  text-align: center;
  margin: auto;
}

.logout {
  padding: 10px 40px 0px 40px;
}

.logout button{
  background-color: red;
  color: white;
  margin-right: 2%;
}

.register input{
  display: block;
}

.infowindow img {
  max-height: 100px;
  max-width: 100px;
}