<div class="container">

  <% unless user_logged_in %>
  <div>
    <h3>Please <a href="/register">register</a> or <a href="/login">login</a> to access Maps with Friends.</h3>
  </div>
  <% end %>

  <% if current_user %>

  <nav class="logout">
    <form action="/logout" method="post">
      <input name="_method" type="hidden" value="delete">
      <button>Log out</button>
    </form>
  </nav>

  <div class="search-form">
    <form action="/" method="post">
      <input class="friend" name="name" type="text" placeholder="Type your name">
      <input id="address" class="controls" name="location" type="text" placeholder="Type your location">
      <input type="submit" value="Add map marker">
    </form>
  </div>

  <div id="map-canvas"></div>

  <div>
    <h3>Friends List:</h3>
    <ul id="friend-list">
      <li></li>
    </ul>
  </div>

  <% end %>
</div>