<div class="container">

  <% unless user_logged_in %>
  <div>
    <h3>Please <a href="/register">register</a> or <a href="/login">login</a> to access Maps with Friends.</h3>

    <div class="login-container">
      <a href="#">
        <img src="https://app.carehr.com/assets/facebook-login-56a158df50e9439b9515a99d1472fb36.png" id="facebook_button"/>
      </a>
    </div>
    <!-- credit to Trading Faces -->
  </div>
  <% end %>

  <% if current_user %>

  <header id="logged-in-nav">
    <h3>Welcome, <%= current_user.username %>!</h3>
    <nav class="logout">
      <form action="/logout" method="post">
        <input name="_method" type="hidden" value="delete">
        <button>Log out</button>
      </form>
    </nav>
  </header>

  <div class="one-third column">
    <div class="search-form">
      <p>Enter your friend's name and city to add their location on the map.</p>
      <form action="/" method="post">
        <input class="friend" name="name" type="text" placeholder="Your friend's name">
        <input id="address" class="controls" name="location" type="text" placeholder="Your friend's city">
        <button id="add-marker">Add map marker</button>
      </form>
    </div>

    <div id="friend-list">
      <h3>Friends List:</h3>
      <% if @friends %>
      <ul>
        <% @friends.each do |friend| %>
        <li id="<%= friend.id %>">
         <%= friend.name %>
         <button ><a class="delete" href="/friend/<%= friend.id %>/delete">
          Delete</a></button>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="six columns">
    <div id="map-canvas"></div>
  </div>

  <% end %>
</div>