<div class="login">
  <form action="/login" method="POST">
    <input type="text" label="Email" name="user[email]" placeholder="email">
    <input type="password" label="Password" name="user[password]" placeholder="password">
    <input type="submit" value="Login">
  </form>
</div>