<div class="login">
  <form action="/login" method="post">
    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password">
    <input type="submit" value="Login">
  </form>
</div>