<div class="register">
  <form action="/register" method="POST">
    <input type="text" name="user[username]" placeholder="username">
    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password">
    <br>
    <input type="submit" value="Register">
  </form>
</div>